<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
     <link rel="stylesheet" href="/css/style.css">
     <link rel="icon" href="/img/sun.png">
     <title>About Page</title>
  </head>
  <body>
     <div class="main-content">
    {{>header}}
     <img class="portrait" src="/img/profile.jpeg">
     </div>
     {{>footer}}
  </body>
</html>
